.RadialMenu {
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
}

.RadialMenuCrust, .RadialMenuPie {
    position: absolute;
    border-radius: 50%;
}

.RadialMenuCore {
    position: absolute;
    border-radius: 50%;
    background-color: #FFFFFF;
}

#ec891295d8fe464eb77d3989a2222cc9{
    border-radius: 50%;
}

.RadialMenuError{
    color: #ff0000;
}